
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Fredoka';
    gap: 10px;
}
h1{
    font-size: 1.8rem;
    font-family: 'Fredoka';
}
input{
    font-family: 'Fredoka';
    width: 270px;
    height: 40px;
    border: 2.5px black solid;
    border-radius: 7px;
    padding: 10px;
    font-size: 1.1rem;
}
button{
    font-family: 'Fredoka';
    width: 270px;
    height: 40px;
    border-radius: 7px;
    color: rgb(235, 235, 235);
    border: 2.5px rgb(82 82 82) solid;
    background-color: rgb(82 82 82);
    font-size: 1.2rem;
}
a{
    font-family: 'Fredoka';
    padding-top: 10px;
    display: block;
    height: 30px;
}